@{
    ViewData["Title"] = "Dashboard Admin";
}

<h2>Administrador</h2>
<div class="row g-3 mt-1">
    <div class="col-md-3">
        <a class="btn btn-outline-dark w-100" asp-action="Padron">Cargar Padrón</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-dark w-100" asp-action="Candidatos">Gestionar Candidatos</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-dark w-100" asp-action="Resultados">Resultados</a>
    </div>
</div>

